<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Adam Wheeler</title>
    <style type="text/css">
        body {
            margin: 40px auto;
            max-width: 650px;
            line-height: 1.4;
            font-size: 18px;
            padding: 0 10px
        }

        h1,
        h2,
        h3 {
            line-height: 1.2
        }
    </style>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
        type="text/javascript"></script>
</head>
<h1>Adam Wheeler</h1>
<a href="https://ui.adsabs.harvard.edu/search/q=orcid%3A0000-0001-7339-5136&sort=date%20desc%2C%20bibcode%20desc">
    ADS
</a> |
<a href="https://arxiv.org/a/0000-0001-7339-5136.html">arXiv</a> |
<a href="https://github.com/ajwheeler/">github</a> |
<a href="/mathnotes">math/physics notes</a> |
<a href="/blog">blog</a>


<body>
    {% block content %} {% endblock %}
</body>

</html>